* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
}

#sidebar {
    flex: 0 1 20%;

    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 5rem;
    background-color: rgba(20, 230, 167, 0.938);
    padding: 1rem;
}

#content {
    flex: 0 1 80%;

    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    background-color: rgba(168, 46, 46, 0.219);
    padding: 1rem;
    font-size: 1.6rem;
}

#contentDetailsDiv {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    gap: 1rem;
}

#contentDetailsDiv:hover {
    filter: brightness(0.8);
    cursor: pointer;
}

#contentDetailsDiv:active {
    transform: scale(1.05);
}

#projectPriorityDueDateDiv {
    flex: 1 1 100%;

    display: flex;
    gap: 1rem;
}

#contentProjectPriority {
    font-size: 1.2rem;
}

#contentProjectDueDate {
    font-size: 1.2rem;
    text-align: right;
}

#profileDiv {
    display: flex;
}

#profileName {
    font-size: 1.5rem;
}

#profileNotifications {
    height: 1.5rem;
    width: 1.5rem;

    margin-left: auto;
}

#projectsDiv {
    display: flex;
    flex-direction: column;
}

#projectsTitle {
    font-size: 1.5rem;
    font-weight: bold;
}

#addProjectDiv {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

#addProjectHr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

#addProjectBtn {
    flex: auto;
    border: none;
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
    font-weight: bold;
}

#addProjectBtn:hover {
    filter: brightness(0.8);
    cursor: pointer;
}

#addProjectBtn:active {
    transform: scale(1.05);
}

.project {
    padding-left: 1rem;
    padding-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
}

.projectTitle {
    font-size: 1.2rem;
    font-weight: bold;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.projectTitle:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.projectTitle:active {
    transform: scale(1.05);
}

.projectDetailsImg {
    height: 1.3rem;
    width: 1.3rem;

    margin-left: auto;

    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.projectDetailsImg:hover {
    cursor: pointer;
}

.projectDetails {
    grid-column: 1 / 3;
    grid-row: 2 / 3;

    display: flex;
    flex-wrap: flex;
    flex-direction: column;
    transition: opacity 0.5s linear;

    font-size: 0.9rem;
    font-style: italic;
    color: white;

    background-color: rgba(128, 128, 128, 0.4);
    border-radius: 0.3rem;
    padding: 0.4rem;
}

.projectPriority {
    flex: 1;
}

.High {
    color: rgb(253, 32, 32);
}

.Medium {
    color: rgb(243, 173, 23);
}

.Low {
    color: rgb(10, 124, 10);
}

.projectDueDate {
    flex: 1;
}

.hide {
    display: none;
    opacity: 0;
}

.dialog {
    margin: auto;
    width: 25rem;
    height: 30rem;
    font-size: 1.2rem;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
}

.dialogHeader {
    display: flex;
    padding-bottom: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.dialogHeader > button {
    font-size: 1.5rem;
    margin-left: auto;
    border: none;
    border-radius: 1rem;
}

.dialogHeader > button:hover {
    filter: brightness(0.8);
    cursor: pointer;
}

.dialogHeader > button:active {
    transform: scale(1.2);
}

.dialogForm {
    display: flex;
    flex-direction: column;
}

.inputDiv {
    flex: 1;
    position: relative;
}

.inputDiv > input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 2rem;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    background: transparent;
}

.inputDiv > label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5rem;
    font-size: 1rem;
    pointer-events: none;
    transition: .5s;
}

.inputDiv > input:hover {
    background: white;
    filter: brightness(0.8);
}

.inputDiv > input:focus ~ label,
.inputDiv > input:valid ~ label {
    top: -20px;
    left: 0;
    font-size: 0.8rem;
}

.ulPriority {
    flex: 1;
    list-style: none;
    display: flex;
    gap: 1rem;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.ulPriority > li {
    flex: 1;
    text-align: center;
    margin: 1rem auto;
}

.ulPriority > li:hover {
    filter: brightness(0.8);
    transform: scale(1.05);
    cursor: pointer;
}

.ulPriority > li:active {
    transform: scale(1.2);
}

.checkboxPriority,
.checkboxPriorityTask {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.checkboxPriority + label,
.checkboxPriorityTask + label {
    display: inline-block;
    width: auto;
    position: relative;
    cursor: pointer;
    padding: 1rem;
    background: linear-gradient(
        45deg,
        rgba(94, 74, 94, 1),
        rgba(91, 86, 95, 1),
        rgba(35, 38, 41, 1),
        rgba(18, 19, 18, 1)
      );
}

.checkboxPriority:checked + label,
.checkboxPriorityTask:checked + label {
    font-weight: bold;
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/*background: linear-gradient(
        45deg,
        rgba(35, 38, 41, 1),
        rgba(18, 19, 18, 1),
        rgba(94, 74, 94, 1),
        rgba(91, 86, 95, 1)
      );
      */

/*.ulPriority > li:has(:checked) */

.checkboxPriority:checked + label,
.checkboxPriorityTask:checked + label {
    transform: scale(1.05);
    --border-radius: 1rem;
    --border-size: 0.3rem;
    --border-bg: conic-gradient(rgb(62, 135, 207), white, rgb(18, 68, 119), rgb(62, 135, 207));
    --padding: 1rem;

    position: relative;
    overflow: hidden;
    padding: calc(var(--padding) + var(--border-size));
    border-radius: var(--border-radius);
    display: inline-block;

    &::before {
        content: '';
        display: block;
        background: var(--border-bg);
        width: calc(100% * 1.41421356237);
        padding-bottom: calc(100% * 1.41421356237);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 100%;
        z-index: -2;
        animation: spin 5s linear infinite;
    }

    &::after {
        content: '';
        position: absolute;
        inset: var(--border-size);
        background: linear-gradient(
        45deg,
        rgba(35, 38, 41, 1),
        rgba(18, 19, 18, 1),
        rgba(94, 74, 94, 1),
        rgba(91, 86, 95, 1)
      );
        z-index: -1;
        border-radius: calc(var(--border-radius) - var(--border-size));
    }
}

label[for='highPriorityProject'],
label[for='highPriorityTask'] {
    color: rgb(253, 32, 32);
}

label[for='midPriorityProject'],
label[for='midPriorityTask'] {
    color: rgb(243, 173, 23);
}

label[for='lowPriorityProject'],
label[for='lowPriorityTask'] {
    color: rgb(10, 124, 10);
}

#taskButtonsDiv {
    display: flex;
    gap: 1rem;
}

#submitProject,
#submitTask,
#deleteTaskBtn {
    flex: 1;
    margin: 0 auto;
    width: 10rem;
    padding: 0.5rem 0 0.5rem 0;
    border: none;
    border-radius: 1rem;
    background-color: rgb(22, 160, 22);
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

#deleteTaskBtn {
    background-color: rgb(160, 22, 22);
}

#submitProject:hover,
#submitTask:hover,
#deleteTaskBtn:hover {
    filter: brightness(0.8);
    cursor: pointer;
}

#submitProject:active, 
#submitTask:active,
#deleteTaskBtn:active {
    transform: scale(1.05);
}

::backdrop {
    background-image: linear-gradient(
      45deg,
      rgba(94, 74, 94, 1),
      rgba(91, 86, 95, 1),
      rgba(35, 38, 41, 1),
      rgba(18, 19, 18, 1)
    );
    opacity: 0.75;
}

#tasksDiv {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

.task {
    display: flex;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    gap: 1rem;
}

.task:has(.taskDone:checked) {
    text-decoration: line-through;
    filter: brightness(0.5);
}

.task:hover {
    filter: brightness(0.8);
    cursor: pointer;
}

.task:hover:has(.taskDone:checked) {
    filter: brightness(0.8);
}

.task:active {
    filter: brightness(0.5);
}

.task:active:has(.taskDone:checked) {
    filter: brightness(1);
}

.taskDate {
    margin-left: auto;
}

.highTask {
    background-color: rgba(253, 32, 32, 0.329);
}

.mediumTask {
    background-color: rgba(243, 173, 23, 0.349);
}

.lowTask {
    background-color: rgba(10, 124, 10, 0.336);
}

#addTaskBtn {
    border: none;
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
    font-weight: bold;
}

#addTaskBtn:hover {
    filter: brightness(0.8);
    cursor: pointer;
}

#addTaskBtn:active {
    transform: scale(1.05);
}